/* Estilos Globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Contenedor Principal */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos del Header */
header {
    background-color: #2C3E50;
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5rem;
    text-align: center;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 10px;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #2980B9;
    border-radius: 5px;
}

/* Estilos del Main */
main {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

main h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

main p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

.cta-buttons .cta-button {
    background-color: #2980B9;
    color: #2980B9;
    padding: 12px 30px;
    font-size: 1rem;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-buttons .cta-button:hover {
    background-color: #1D4C7A;
}

/* Estilos del Footer */
footer {
    background-color: #2C3E50;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 0.9rem;
}

/* Estilos de Login y Mensajes de Error */
.error {
    color: red;
    font-weight: bold;
    margin: 20px 0;
}

.success {
    color: green;
    font-weight: bold;
    margin: 20px 0;
}

/* Estilos para Formulario de Login */
form {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form input[type="text"], form input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
}

form button {
    width: 100%;
    padding: 12px;
    background-color: #2980B9;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #1D4C7A;
}
